.conteudheader{
    position: relative;
    margin: auto;
    width: 100%;
}

.background-1 {
    background-color: #2b2d34;
    height: 60px;
    position: relative;
    border: 0.2px solid black;
}

.lendocha {
    position: relative;
    margin-left: 2%;
    margin-top: 50%;
}
 
.rede ul li {
    float: left;
    display: inline-block;
    list-style: none;
    margin-left: 4px;
} 

.rede{
    position: absolute;
    top: ;
    float: right;
    margin-right: 10%;
    margin-left: 56%;
              
}

.conteudmain{
    width: 500px;
    margin-left: 1.5%;

}

.background-2{
    background-color: #58368c;
    height: 35px;
    position: relative;
    border: 1px solid black;
    margin-top: 0px;
}
.Searchy{
    position: absolute;
    height: 30px;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    top: 2.3px;
    left: 21.8%;
    display: flex;
    justify-content: space-around;
}
.searchtext{
     background: none;
     border: 0;
     outline: 1px;
     font-size: 18px;
     width: 0;
    }
.botao{
    
}

.Lupeblack{
    display: none;
}
