.conteudheader{
    position: relative;
    margin: auto;
    width: 100%;
}
.conteudmain{
    position: absolute;
    max-width: 65%;
    min-width: 40%;
    max-width: 55%;
    margin: auto;
    top: 10px;
    margin-left: 2%;
}


.background-3{
    position: relative;
    margin: auto;
    max-width: 100%;
    min-width: 40%;
    top: 0.5px;
    height: 1400px;
    display: flex;
    justify-content: space-between;
    
}

.background-1 {
    position: relative;
    display: flex;
    margin: auto;
    width: 100%;
    background-color: #2b2d34;
    height: 60px;
    position: relative;
    border: 0.1px solid black;
}
.lendocha {
    position: relative;
    margin: auto;
    margin-top: 50%;
}
 .rede ul li {
    float: left;
    display: inline-block;
    list-style: none;
    margin-left: 10px;
    
} 
.rede{    
    position: absolute;
    top: 54.5px;    
    margin-left: 12.5%;
}
.background-2{
    height: 35px;
    width: 100%;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    background-color: #58368c;
    border-bottom: 1px solid #000000;
    }
.Searchbox{
    position: relative;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    top: px;
    width: 250px;
    margin: auto;
    left: 25.7%;
    display: flex;
    justify-content: end;
    padding-left: 10px;
}
.searchtext{
    background: none;
    border: 0;
    padding: 0;
    outline: 0;
    font-size: 18px;
    left: 60px;
}
.searchbot{
    height: 30px;
    width: 30px;
    cursor: pointer;
}
.Lupeblack01{
    display: none;
}


