body {
    margin-top: 0%;
    margin-left: 300px;
    max-width: 1200px;
    width: 100%;
    height: 200%;
}

.backg1 {
    position: relative;
    max-width: 100%;
    margin: auto;
    width: 100%;
    background-color: #000000;
    height: 160px;
}

.chacha {
    position: absolute;
    width: 30%;
    left: 100px;
    right: 100%;
    padding: 20px; 
}

.tijelacha {
    position: absolute;
    top: 10;
    right: 10px;
    left: 180px;
    padding: 25;
    width: 100px;
    height: 132px;
}

.lendocha {
    position: absolute;
    top: 0.5%;
    left: 700px;
    padding: 0.1%;    
}

.Linksderedesociais ul li {
    position: relative;
    display: inline-block;
    margin-left: 1px;
    top: 110px;
    left: 435px;
}

.main {
    margin: 0 auto;
    width: 1080px;
    position: relative;
    float: left;
}
